/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

/*-------- common style----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

body {
  font-family: "Poppins", sans-serif;
}

/* header styles starts*/
.header {
  width: 1321px;
  height: 646px;
  margin: 50px auto 0 auto;
  position: relative;
  border-radius: 30px;
  background: #161616;
  gap: 24px;
  display: flex;
}

.header-left {
  margin-left: 95px;
}
.header-left h1 {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 70px;
  width: 531px;
  margin-top: 111px;
  color: #ffffff;
}

.header-left p {
  width: 506px;
  height: 78px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}
.header-left a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}
.header-left button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 25px;
  margin-top: 35px;
  width: 187px;
  gap: 10px;
  background: #dd0000;
  border-radius: 5px;
  transition: transform 0.6s ease-in 0.1s;
}
.fa-angle-right {
  margin-left: 10px;
}
.header:hover > .header-left button {
  transform: translate(900px, -470px);
}

.header img {
  width: 581px;
  height: 613px;
  margin-top: 33px;
  margin-right: 101px;
}

/* header styles ends*/

/* <!-- section styles starts --> */
.section1-container {
  display: flex;
  width: 1321px;
  margin: 130px auto;
  gap: 24px;
}

.button-groups {
  width: 312px;
  height: 312px;
  display: flex;
  flex-direction: column;
  background-color: #161616;
  border-radius: 10px;
  align-items: center;
}

.button-groups button {
  width: 252px;
  height: 64px;
  background: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 30px;
}
.button-groups a {
  text-decoration: none;
  width: 174px;
  height: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #161616;
}
#btn-bottom {
  background: #dd0000;
}
#btn-bottom a {
  color: #ffffff;
}
.cricket {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card-items {
  width: 312px;
  height: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 10px;
}

.card-items img {
  border-radius: 10px 10px 0px 0px;
}

.card-items button {
  width: 100px;
  height: 32px;
  border-radius: 4px;
  margin: 20px 0;
  color: #161616;
}
.card-items a {
  width: 67px;
  height: 24px;
  font-weight: 500;
  font-size: 16px;
  color: #161616;
  text-decoration: none;
}
.card-items p {
  width: 272px;
  height: 54px;
  line-height: 27px;
  font-weight: 600;
  font-size: 18px;
  color: #161616;
  margin-bottom: 20px;
}
.fa-regular,
.fa-message {
  padding-right: 10px;
}
.time1 {
  padding-right: 20px;
  font-family: "Font Awesome Free";
  font-weight: 500;
}
.time2 {
  font-family: "Font Awesome Free";
  font-weight: 200;
}

/* <!-- section styles ends --> */

/* view styles start */

.view-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 550;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  padding: 18px 40px;
  background: hsl(0, 100%, 43%);
  border: none;
  font-size: 15px;
  text-align: center;
  margin: 50px auto;
  visibility: hidden;
}

.view-btn a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 550;
  border: none;
  background: #dd0000;
  font-size: 17px;
}

/* footer style starts */

.footer-container {
  height: 440px;
  text-align: center;
  background: #161616;
}
.footer h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  padding-top: 70px;
  padding-bottom: 30px;
}
hr {
  width: 90%;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.all-services {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  color: #bcb5b5;
  margin: 50px;
  font-weight: 500;
  font-size: 16px;
}
.social-icon {
  font-size: 40px;
  margin-top: 50px;
}
.fa-facebook-square,
.fa-youtube-square,
.fa-twitter-square {
  color: #eeebeb;
  cursor: pointer;
  padding-right: 50px;
}
.fa-facebook-square:hover {
  color: rgb(180, 74, 74);
}

.fa-youtube-square:hover {
  color: rgb(248, 110, 5);
}
.fa-twitter-square:hover {
  color: red;
}
/* footer style ends */

/*----- Media Quaries-----*/

/*--- tablet Device--- */
/* @media only screen and (max-width: 688px) {
   
   
} */
@media (max-width: 835px) {
 /* header styles starts*/
 .header {
    width: 734px;
    height: 398px;
    margin: 50px auto 0 auto;
    position: relative;
    border-radius: 30px;
    background: #161616;
    gap: 24px;
    display: flex;
  }
  
  .header-left {
    margin-left: 95px;
  }
  .header-left h1 {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 70px;
    width: 531px;
    margin-top: 111px;
    color: #ffffff;
  }
  
  .header-left p {
    width: 506px;
    height: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
  }
  .header-left a {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
  }
  .header-left button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 25px;
    margin-top: 35px;
    width: 187px;
    gap: 10px;
    background: #dd0000;
    border-radius: 5px;
    transition: transform 0.6s ease-in 0.1s;
  }
  .fa-angle-right {
    margin-left: 10px;
  }
  .header:hover > .header-left button {
    transform: translate(900px, -470px);
  }
  
  .header img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 101px;
  }
  
  /* header styles ends*/
}

@media (max-width: 375px) {
  .swiper-slide h1 {
    font-weight: 600;
    font-size: 30px;
  }
  .swiper-slide h5 {
    margin: 30px 0px;
    font-size: 22px;
  }

  .swiper-slide h6 {
    font-size: 18px;
  }
}
